/* CSS DE index.html, és a dir, pàgina d'inici */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body{
    background-color: #fdecec;
    height: 100%;
    font-family: 'Roboto';
}

/* article {
    margin: 5em auto 0;
    padding: 1em;
    max-width: 800px;
    background: white;
    border-radius: 1%;
    box-shadow: 0 0 5px 1px rgb(105, 89, 89);
} */
article{
    margin: 5.5em auto 0 auto;
    /* padding: 1em; */
    width: 95%;
    max-width: 800px;
    min-height: 960px;
    background: white;
    border-radius: 1%;
    box-shadow: 0 0 5px 1px rgb(105, 89, 89);
}

.headerTop{
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    position: fixed;
    background: rgb(204, 8, 8);
    z-index: 1;
    box-shadow: 0px 0px 4px 0px rgb(204 8 8);
}
#pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin: 2rem;
}

h2 {
    font-weight: 500;
    text-align: center;
    font-size: 1.4em;
    color: rgb(255, 0, 0);
    margin-bottom: 1rem;
}

#descripcio{
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.2em;
    margin: 1.5em 3.5em 0;
    color: #313131;
}
#imgInici{
    width: 50%;
    margin: 1rem;
}

.inici{
    margin: auto;
    align-self: flex-start;
    width:150px;
    height:30px;
    background:rgb(204, 8, 8);
    border-radius:10px;
    color: white;
}

.boton{
    width:200px;
    height:40px;
    background:rgb(204, 8, 8);
    border-radius:10px;
    color: white;
    font-size: 1.05rem;
    font-weight: 700;
    margin: 2rem;
    cursor: pointer;
}
.boton:hover{
    opacity: 75%;
    text-decoration: underline;
}

p{
    text-align: center;
    font-size: 40px;
    color: rgb(204, 8, 8);
    font-weight: bold;
}

footer {
    width: 100%;
    position: static;
    bottom: 0;
    left: 0;
    background-color: rgb(65, 59, 59);
    height: 200px;
  }

  #footerH3{
    font-weight: 400;
    text-align: center;
    color: whitesmoke;
}
/* CSS DE sudoku.html, és a dir, pàgina del joc */

#form{
    width: 70%;
}

legend{
    padding-bottom: 20px;
}

.opcions{
    padding: 3px;
    padding-left: 40px;
    font-size: 20px;

}


/* CSS de la taula i els seus elements */


#areaSudoku {
    width: 90%;
    max-width: 500px;
    position: relative;
    margin: 50px;
}

#areaSudoku::before {
    content: "";
    display: block;
    padding-top: 100%; /* Relación de aspecto 1:1 */
}

#taula {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #443;
    background-color: #fdf5f5;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px #bdc3c7;
    border-collapse: collapse;
    table-layout: fixed;
}

#taula td {
    border: 1px solid #000;
    text-align: center;
    width: 11.11%;
    height: 11.11%; /* Hacemos las celdas cuadradas */
}

td > input {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-family: Helvetica;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #f1077c;
}

#taula td:nth-child(3n) {
    border-right: 3px solid #000;
}

#taula td:nth-child(3n + 1) {
    border-left: 3px solid red;
}


#taula tr:nth-child(3n+2) td {
    border-top: 3px solid #000;
}
/* .ocult{
    display: none;
} */

@media (max-width: 600px) {
    #descripcio{
        margin: 1.5em 1.5em 0;
        text-align: justify;
        font-size: 1.05em;
    }
    #imgInici {
        width: 80%;
    } 
}
@media (max-width: 500px) {
    #areaSudoku{
        padding: 30px;
    }
    td > input {
        font-size: 25px;
    }
}