/* CSS DE index.html, és a dir, pàgina d'inici */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body{
    background-color: #fdecec;
    height: 100%;
    
}

/* article {
    margin: 5em auto 0;
    padding: 1em;
    max-width: 800px;
    background: white;
    border-radius: 1%;
    box-shadow: 0 0 5px 1px rgb(105, 89, 89);
} */
article{
    margin: 5.5em auto 0 auto;
    /* padding: 1em; */
    width: 95%;
    max-width: 800px;
    min-height: 960px;
    background: white;
    border-radius: 1%;
    box-shadow: 0 0 5px 1px rgb(105, 89, 89);
}

.headerTop{
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    position: fixed;
    background: rgb(204, 8, 8);
    font-size: 50px;
    font-family: "Arial";
    text-align: center;
    color: rgb(255, 255, 255);
}
#pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: "Arial";
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin: 2rem;
}

h2 {
    font-family: "Courier";
    text-align: center;
    font-size: 25px;
    color: rgb(255, 0, 0);
    margin-bottom: 1rem;
}

#descripcio{
    text-align: justify;
    font-size: 1.2rem;
    /* margin-bottom: 1.5rem; */
    padding-left: 5rem;
    padding-right: 5rem;
    color: #000000;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif */
}
#imgInici{
    width: 50%;
    margin: 1rem;
}

.inici{
    margin: auto;
    align-self: flex-start;
    width:150px;
    height:30px;
    background:rgb(204, 8, 8);
    border-radius:10px;
    color: white;
}

.boton{
    width:200px;
    height:40px;
    background:rgb(204, 8, 8);
    border-radius:10px;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 2rem;
    cursor: pointer;
}
.boton:hover{
    opacity: 75%;
    text-decoration: underline;
}

p{
    text-align: center;
    font-size: 40px;
    color: rgb(204, 8, 8);
    font-weight: bold;
}

footer {
    width: 100%;
    position: static;
    bottom: 0;
    left: 0;
    background-color: rgb(65, 59, 59);
    height: 200px;
  }

  #footerH3{
    font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: whitesmoke;
}
/* CSS DE sudoku.html, és a dir, pàgina del joc */

#form{
    width: 70%;
}

legend{
    padding-bottom: 20px;
}

.opcions{
    padding: 3px;
    padding-left: 40px;
    font-size: 20px;

}

#areaSudoku{
    height: 500px;
    margin: 1rem;
    /* margin-left: 22%; */
}

/* CSS de la taula i els seus elements */

#taula{
    margin-top: 50px ;
    table-layout: fixed;
    border: #443 5px solid;
    width: 444px;
    height: 444px;
    background-color: #fdf5f5;
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px #bdc3c7;
    
}
td > input{
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-family: Helvetica;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #f1077c;
}

#taula{
    border-collapse: collapse;
    /* width: 100%; */
}

#taula td {
    border: 1px solid #000;
    text-align: center;
    width: 11.11%;
    height: 50px; 
}

#taula td:nth-child(3n) {
    border-right: 3px solid #000;
}

#taula td:nth-child(3n + 1) {
    border-left: 3px solid red;
}


#taula tr:nth-child(3n+2) td {
    border-top: 3px solid #000;
}
/* .ocult{
    display: none;
} */